* {
    font-family: Helvetica;
    text-align: center;
  }

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.item {
    width: 400px;
    height: 70px;
    border: blue solid 2px;
  }